.DS_Store
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor
*.bundle
*.so
*.o
*.a
mkmf.log
target/
Gemfile.lock
gemfiles/*.lock
.idea

# rspec failure tracking
.rspec_status
